@font-face {
    font-family: "HelveticaNeueCyr";
    src: url("/fonts/HelveticaNeueCyr.woff2") format("woff2"),
         url("/fonts/HelveticaNeueCyr.woff") format("woff"),
         url("/fonts/HelveticaNeueCyr.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: "HelveticaNeueCyr", Arial, sans-serif;
  }